<!DOCTYPE html>
<html>
  <head>
    <title>Trips</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ironhack Trips</h1>

    <h3>Create a diary blah blah</h3>
    <a href="/auth/google">Login with Google</a>
  </body>
</html>
